{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "css/admin-extra.css" %}" />{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            <img src="{% static 'images/global/ari-logo-full-2.png' %}" height="24" alt="ARINET"/>
            &nbsp;
            <strong>ADMINISTRATION</strong>
        </a>
    </h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrabody %}
    <h1 id="site-name">
        test
    </h1>
{% endblock extrabody %}